DataAcquisition/env
DataAcquisition/json/data
*.pyc
notes.md
.vscode/
DataAcquisition/__pycache__
dashboard/pubspec.lock
dashboard/windows
dashboard/linux
dashboard/build
dashboard/assets/main.py
dashboard/assets/senegal.svg
